name: Deploy documentation

on:
  push:
    branches:
      - main
    paths:
      - ".github/**"
      - "cache/**"
      - "command-parser/**"
      - "embed-builder/**"
      - "gateway/**"
      - "gateway-queue/**"
      - "http/**"
      - "lavalink/**"
      - "mention/**"
      - "model/**"
      - "standby/**"
      - "twilight/**"
      - "util/**"
      - "Cargo.toml"

jobs:
  deploy-docs:
    name: Deploy docs to gh-pages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          override: true

      - name: Add problem matchers
        run: echo "::add-matcher::.github/rust.json"

      - name: Build docs
        env:
          RUSTDOCFLAGS: --cfg docsrs
        run: |
          exclude_examples=($(grep -h '^name' examples/**/Cargo.toml | cut -d'"' -f2 | xargs -I '{}' echo '--exclude {}'))
          cargo doc --workspace --no-deps --features=permission-calculator "${exclude_examples[@]}"
          cargo doc -p twilight-util --no-deps --all-features

      - name: Prepare docs
        run: |
          echo '<meta http-equiv="refresh" content="0;url=twilight/index.html">' > target/doc/index.html

      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_branch: gh-pages
          publish_dir: target/doc
          allow_empty_commit: true
          cname: api.twilight.rs
